.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background: transparent;
    overflow-x:clip;
    position: relative;
}

.logoContainer{
    margin-left: 2rem;
}
.logo{
    margin: 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.linksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 3rem;
    gap:3rem;
}

.navLink{
    text-transform: uppercase;
    font-size: 14px;
}

.menuIcon{
    display: none;
}

.menuContainer{
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    
}

.backDrop{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: #c52440;
}

.closeIconContainer{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
    cursor: pointer;
}

.menuLinksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    cursor: pointer;
}



.menuLink{
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media screen and (max-width:1050px){
    .linksContainer{
        margin-right: 1.5rem;
        gap: 1.5rem;
    }
}

@media  screen and (max-width:900px) {
    .navLink{
        display: none;
    }
    .menuIcon{
        display: flex;
        margin-left: auto;
    }
    .linksContainer{
        width: 15px;
    }

}

@media screen and (max-width:550px) {
    .logo{
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .logoContainer{
        margin-left: 1rem;
    }
   
}
@media screen and (max-width:420px) {
    .logo{
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
}